body {
  font-style: Roboto, sans-serif;
  margin: auto;
}

header {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  display: flex;
}

main {
  padding-right: 7.7%;
  padding-left: 6.7%;
  font-size: 16px;
}

.logo {
  padding-top: 30px;
  padding-bottom: 29.69px;
  padding-left: 6.5%;
  width: 119.23px;
  height: 12.31px;
}

.sign-in-button {
  border: 1px solid #E0E0E0;
  background-color: #ffffff;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 63%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.sign-in {
  color: #1D1D1D;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.basket {
  width: 18.95px;
  height: 21.74px;
  margin-top: 24.91px;
  margin-bottom: 25.35px;
  margin-left: 27px;
  margin-right: 8,6%;
}

.search-block {
  border-bottom: 1px solid #bec1c4;
  margin-top: 56px;
}

.search-input  {
  border:none;
  width: 100%;
  font-size: 16px;
  color: black;
}

.search-input:focus{
  outline: none;
}

.search-input::placeholder,
.search-input::-webkit-input-placeholder,
.search-input:-ms-input-placeholder,
.search-input::-ms-input-placeholder {
  color: #bec1c4;
  line-height: 24px;
  font-size: 16px;
}

.stores {
  margin-left: auto;
  margin-right: auto;
}

.stores h1{
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
  font-style: normal;
  margin-top: 56px;
  margin-bottom: 0;
}

.store-photo {
  margin-top: 16px;
}

.title {
  margin-top: 16px;
  margin-bottom: 2px;
  font-size: 18px;
}

.description {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}

.delivery-time {
  margin-top: 2px;
  font-size: 13px;
  line-height: 21px;
  color: #1D1D1D;
}
