body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: auto;
}

header {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  background-size: cover;
  background-color: #ffffff;
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
}

main {
  padding-right: 7.7%;
  padding-left: 6.7%;
  font-size: 16px;
}

@media screen and (max-width:780px) {
  main {
    padding-right: 1%;
    padding-left: 1%;
  }
}

.logo {
  padding-top: 30px;
  padding-bottom: 29.69px;
  padding-left: 6.5%;
  width: 119.23px;
  height: 12.31px;
}

@media screen and (max-width:780px) {
  .logo {
    padding-left: 0.5%;
  }
}

@media screen and (min-width:320px) {
  .logo {
    padding-left: 1%;
  }
}

.sign-in-button {
  border: 1px solid #E0E0E0;
  background-color: #ffffff;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 63%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width:780px) {
  .sign-in-button {
      margin-left: 65%;
  }
}

@media screen and (min-width:320px) {
  .sign-in-button {
      margin-left: 58%;
  }
}

.sign-in {
  color: #1D1D1D;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.basket {
  width: 18.95px;
  height: 21.74px;
  margin-top: 24.91px;
  margin-bottom: 25.35px;
  margin-left: 27px;
  margin-right: 8,6%;
}

.search-block {
  border-bottom: 1px solid #bec1c4;
  margin-top: 0px;
  padding-top: 128px;
}

.search-input  {
  border:none;
  width: 100%;
  font-size: 16px;
  color: black;
}

.search-input:focus{
  outline: none;
}

.search-input::placeholder,
.search-input::-webkit-input-placeholder,
.search-input:-ms-input-placeholder,
.search-input::-ms-input-placeholder {
  color: #bec1c4;
  line-height: 24px;
  font-size: 16px;
}

.stores {
  margin-left: auto;
  margin-right: auto;
}

.stores h1{
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
  font-style: normal;
  margin-top: 56px;
  margin-bottom: 0;
}

.store-card + .store-card {
  margin-right: 6px;
}

.store-photo {
  margin-top: 16px;
  width: 100%;
}

.title {
  margin-top: 16px;
  margin-bottom: 2px;
  font-size: 18px;
}

.description {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}

.delivery-time {
  margin-top: 2px;
  font-size: 13px;
  line-height: 21px;
  color: #1D1D1D;
}

footer {
  background-color: #262626;
  background-size: cover;
  margin-top: 90px;
  padding-left: 6.5%;
  padding-right: 7.7%;
  padding-top: 56px;
}

.white_logo {
  width: 190.77px;
  height: 19.69px;
}

.line {
  height: 1px;
  background-color: #ffffff;
  opacity: 0.4;
  margin-top: 40.69px;
}

.language {
  padding-left: 15%;
  margin-top: 32px;
  color: #ffffff;
  width: 227px;
  height: 40px;
  border: none;
  outline: none;
  background: #3B3B3B no-repeat left url("img/world.svg");
  background-position-x: 8%;
}

.footer-menu-item {
  color: #ffffff;
  padding-top: 32px;
  font-size: 13px;
  font-weight: 400;
}

.footer-menu-item a {
  text-decoration: none;
  color: #ffffff;
}

.uber-eats-hashtag {
  font-weight: 400;
  font-size: 16px;
  color: green;
}

.uber-eats-text {
  font-weight: 400;
  font-size: 16px;
}

.facebook-logo {
  padding-top: 15px;
  padding-right: 8.16px;
}

.twitter-logo {
  padding-top: 15px;
  padding-right: 8.15px;
}

.instagram-logo {
  padding-top: 15px;
}

.download {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.dld-img1 {
  width:120px;
  height:40px;
}

.dld-img2 {
  width:135px;
  height:40px;
}

.dld-img + .dld-img {
  margin-left: 40.3px;
}

@media screen and (max-width: 320px) {
  .download {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    height: 19px;
  }

  .dld-img1 {
    width:108.6px;
    height:36px;
  }

  .dld-img2 {
    width:124px;
    height:36px;
  }

  .dld-img + .dld-img {
    margin-left: 24.4px;
  }
}

.footer-menu-small-container {
  display: flex;
  justify-content: left;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-menu-small1{
  flex-grow: 1.6;
  flex-basis: auto;
}

.footer-menu-small2{
  flex-grow: 1.3;
  flex-basis: auto;
}

.footer-menu-small3{
  flex-grow: 1.3;
  flex-basis: auto;
}



.footer-menu-link-small {
  text-decoration: none;
  color: #ffffff;
  font-size: 11px;
}

.arrow-block {
  position: fixed;
  background-color: #59BD5A;
  background-size: cover;
  width: 80px;
  padding-top: 27px;
  padding-bottom: 24px;
  margin-left: 85%;
  margin-right: 16px;
  bottom: 24px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

@media screen and (max-width:780px) and (min-width:321px) {
  footer {
    padding-right: 1%;
    padding-left: 1%;
  }

  .arrow-block {
    margin-left: 86.5%;
  }
}

@media screen and (max-width: 320px) {
  .footer-menu-small-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer-menu-small1{
    padding-bottom: 15px;
  }

  .footer-menu-small2{
    padding-bottom: 15px;
  }

  .footer-menu-small3{
  }

  .arrow-block {
    width: 64px;
    margin-left: 80%;
    padding-top: 19px;
    padding-bottom: 15px;
  }
}
