body {
  font-style: Roboto, sans-serif;
  margin: auto;
}

header {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  display: flex;
}

.logo {
  padding-top: 30px;
  padding-bottom: 29.69px;
  padding-left: 6.5%;
  width: 119.23px;
  height: 12.31px;
}

.sign-in-button {
  border: 1px solid #E0E0E0;
  background-color: #ffffff;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 63%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.sign-in {
  color: #1D1D1D;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.basket {
  width: 18.95px;
  height: 21.74px;
  margin-top: 24.91px;
  margin-bottom: 25.35px;
  margin-left: 27px;
  margin-right: 8,6%;
}
